{% extends "main/layout.html" %}

{% block content %}
    <div class="our_courses">
        <div class="container">
            <div class="row">
                {% for pdfs in all_level_class.items %}
                    <div class="col-lg-6 single_course text-center">
                        <div class="icon blue">
                            <i class="flaticon-business-and-finance"></i>
                        </div>
                        <a href="{{ url_for("courses.revision_pdf", blob_name=pdfs.id) }}">
                            <h2>{{ pdfs.name.split('/')[-1]|capitalize }}</h2></a>
                        <p>
                            Your panel is designed for ease-of-use <br> and <br>
                            allows for all aspects of revision
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for page_num in all_level_class.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if all_level_class.page == page_num %}
                <a class="btn btn-info mb-4"
                   href="{{ url_for("courses.school_subject", page=page_num, school=all_level_class.items[0].name.split("/")[0], subject=all_level_class.items[0].name.split("/")[1]) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for("courses.school_subject", page=page_num, school=all_level_class.items[0].name.split("/")[0], subject=all_level_class.items[0].name.split("/")[1]) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}